.Page {
    background: linear-gradient(rgb(11,11,11) 95%, rgb(255, 131, 0));
    display:grid;
    height: auto;
    width: 100vw;
}

.SkillsSpace {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 50vh;
}

.IntroSpace {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 50vh;
}

.HomeProjectSpace {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 50vh;
}
.HomeMedia {
    height: 100%;
    width: 100%
}

.HomeProjectCard {
    height: 30vh;
    width: 20vw;
    border: 2px solid  rgb(255, 131, 0);
}

h1 {
    color:  rgb(255, 131, 0);
    text-decoration: none;
    font-family: "Courier New";
}

p,li, a {
    color: white;
    text-decoration: none;
    font-family: "Courier New";
}

a {
    width: 20vw;
}
