.Page {
    background: rgb(11,11,11) 95%;
    display:flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}

.SkillsSpace {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
}

.IntroSpace {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100vw;
    height: 20vh;
    margin-left: 5%;
}

.Projects {
    display: flex;
    flex-direction: row;
    gap: 8%;
}

.HomeProjectSpace {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100vw;
    height: 60vh;
    margin-left: 5%;
}
.HomeMedia {
    height: 100%;
    width: 100%
}

.HomeProjectCard {
    height: 30vh;
    width: 20vw;
    border: 2px solid  rgb(255, 131, 0);
}

h1 {
    color:  rgb(255, 131, 0);
    text-decoration: none;
    font-family: "Trebuchet MS";
    font-size: 72px;
}

.SkillList {
    display: flex;
}

h2, p,li, a {
    color: white;
    text-decoration: none;
    font-family: "Trebuchet MS";
    margin-top: 0;
}

h2 {
    font-size: 30px;
}

a {
    width: 20vw;
}
