.ProjectSpace {
    background: rgb(11,11,11) 95%;
    display:flex;
    flex-direction: column;
    height: fit-content;
    min-height: 50vh;
    width: 100%;
}

.ProjectSpace .Projects {
    padding-left: 15%;
    padding-top: 10%;
}

.Media {
    height: 100%;
    width: 100%
}

.ProjectCard {
    height: 30vh;
    width: 20vw;
    border: 2px solid  rgb(255, 131, 0);
}