.ProjectSpace {
    background: linear-gradient(rgb(11,11,11) 95%, rgb(255, 131, 0));
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}
.Media {
    height: 100%;
    width: 100%
}

.ProjectCard {
    height: 30vh;
    width: 20vw;
    border: 2px solid  rgb(255, 131, 0);
}