.Header {
    background-color: black;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeaderLinks {
    background-color: black;
    width: 100vw;
    height: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.HeaderLink {
    color: white;
    text-decoration: none;
    width: 12vw;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;   
}

.LinkSelect {
    display: none;
    padding-left: 5%;
    padding-right: 5%;
    background: black;
    color: white;
    height: 100%;
    width: 50%;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    font-size: 1em;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
}

a:active, a:focus {
    outline: 0;
    border: none;
}

option {
    color: white;
}

option:hover {
    background-color: orange;
}

.LinkSelect:hover {
    color: orange;
}

@media (max-width: 396px) {
    .HeaderLink {display: none;}
    .LinkSelect { display: inline-block}
}

.HeaderLink:hover {
    color: orange;
}