.Header {
    background-color: rgb(11,11,11);
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 100vw;
    justify-content: space-evenly;
    text-align: center;
    justify-items: center;
    border-bottom: 2px solid  rgb(255, 131, 0);
}

.HeaderLink {
    color: white;
    text-decoration: none;
    font-family: "Courier New";
}

.HeaderLink:hover {
    color:  rgb(255, 131, 0);
}