.Header {
    position: absolute;
    top: 0;
  }
  
  html {
    overflow-x: hidden;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: orange black;
    scrollbar-width: auto;
  }
  
  ::-webkit-scrollbar {
    /* color: red; */
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    /* color: red; */
    background: rgb(2,0,36);
  background: linear-gradient(black, orange, black);
    /* background-color: linear-gradient(90deg, orange 50%, black 35%, blue 20%); */
  }
  